.elements {
  /* width: 1350px;
  height: auto; */
  background-image: url("images/background.jpg");
  margin: auto;
  padding: 150px;
  display: flex;
}

.elements h1 {
  margin: auto;
  padding: 75px;
  display: flex;
  color: white;
}

/* h1, h3, p {
  color: #ffff;
  padding: 20px;
}

.skills h3 {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.awards, .skills {
  display: inline-block;
}

.about {
  display: block;
} */