.elements {
  background-image: url('./images/gbw-bike.jpg');
  height: auto;
  width: auto;
  position: relative;
}

h1, h3, p {
  color: #ffff;
  padding: 20px;
}

.skills h3 {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.awards, .skills {
  display: inline-block;
}

.about {
  display: block;
}