h1, h3, p {
  color: #ffff;
  padding: 20px;
}

.socials img {
  justify-content: center;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 25px;
  width: 40px;
  height: 40px;
}

/* .project1 {
  margin-bottom: 50px;
  padding-bottom: 50px;
  contain: content;
  background-color: rgb(30, 30, 51);
}

.project1-video {
  float: left;
  margin: auto 50px;
}

.project1-info {
  width: 560px;
  height: auto;
  position: relative;
  float: right;
  margin: 40px;
}

.project1-info p1 {
  position: absolute;
}

.project-info p2, p3 {
  position: absolute;
} */

/* .skills h3 {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.awards, .skills {
  display: inline-block;
}

.about {
  display: block;
} */