@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.navbar {
  padding: 20px;
}

.navbar a {
  padding: 20px;
  margin: 20px auto;
  color: #ffff;
}