div.gallery {
  border: 1px solid #777;
  margin: 43px;
  width: 25.99999%;
  float: left;
}

div.gallery:hover {
  border: 1px solid #ccc;
}

.projects {
  padding: 0 6px;
  float: left;
  width: 25.99999%;
}