div.gallery {
  border: 1px solid #777;
  margin: 43px;
  width: 23.99999%;
  height: 500px;
  display: inline-block;
}

div.gallery:hover {
  border: 1px solid #ccc;
}

img {
  width: 100%;
  height: 60%;
}