.elements {
  /* width: 1350px;
  height: auto; 
  background-image: url("../images/wallpaper.jpg"); */
  margin: auto;
  margin-bottom: 50px;
  padding-top: 100px;
  padding-bottom: 200px;
  display: flex;
}

.elements h1 {
  margin: auto;
  padding-top: 175px;
  padding-bottom: 150px;
  color: white;
}